* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-image: url('/assets/fondo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

header {
    width: 100%;
    height: 15vh;
}

header .tittle {
    font-size: 2.8rem;
    margin-top: 3rem;
    font-family: 'Moon Dance', cursive;
    text-align: center;
    color: lightskyblue;
}

main {
    width: 100%;
    height: 80vh;
}

main .subtittle {
    margin-top: 4rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    color: lightgreen;
    justify-content: center;
    text-align: center;
}

main .options {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem auto;
}

main section .surprise {
    border: 0.1rem solid lightblue;
    width: 30vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main section .playlist {
    border: 0.1rem solid lightblue;
    width: 30vw;
    height: 20vh;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}