* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-image: url('https://cdn.statusqueen.com/mobilewallpaper/thumbnail/love2-956.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    height: 15vh;
}

header .tittle {
    font-size: 3.5rem;
    margin-top: 3rem;
    font-family: 'Moon Dance', cursive;
    text-align: center;
    color: rgb(84, 185, 252);
}

main {
    width: 100%;
    height: 80vh;
    font-family: 'Sevillana', cursive;
}

main .subtittle {
    margin-top: 4.5rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    color: lightgreen;
    justify-content: center;
    text-align: center;
    font-size: 1.8rem;
}

main .options {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem auto;
}

main section .surprise {
    border: 0.1rem solid rgb(53, 0, 66);
    border-radius: 3rem;
    background: linear-gradient(transparent, rgb(31, 0, 66));
    width: 40vw;
    height: 20vh;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main section .playlist {
    border: 0.1rem solid rgb(53, 0, 66);
    border-radius: 3rem;
    background: linear-gradient(transparent, rgb(31, 0, 66));
    width: 40vw;
    height: 20vh;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.surprise .img-surprise img {
    width: 25vw;
    height: 15vh;
    padding-top: 1rem;
}

.playlist .img-playlist img {
    width: 40vw;
    height: 15vh;
    padding-top: 1rem;
}

.surprise .surprise-tittle {
    font-size: 1.5rem;
    padding: 0.5rem;
}

.playlist .playlist-tittle {
    font-size: 1.5rem;
    padding: 0.5rem;
}